# pip install -r requirements.txt

# กล้องต้องเพิ่ม
# sudo apt install libturbojpeg
# sudo apt install libgl1 libglib2.0-0
# sudo apt install v4l-utils *ไม่จำเป็น

# Core runtime dependencies
Flask>=3.0
opencv-python>=4.9
pyserial>=3.5
numpy>=1.26
PyTurboJPEG>=1.7.6

# Build tools
setuptools>=65


PyYAML>=6.0
typeguard>=2.13